/*========reset css================*/
body {
    font-size: 14px;
    font-family: "Microsoft Yahei", sans-serif;
    color: #333;
}

a {
    text-decoration: none;
    color: #333333;
}

a:hover {
    text-decoration: none;
    color: #333333;
}

/*自定义字体图标*/
@font-face {
    font-family: "wjs";
    src: url(../fonts/MiFie-Web-Font.svg) format('svg'),
    url(../fonts/MiFie-Web-Font.eot) format('embedded-opentype'),
    url(../fonts/MiFie-Web-Font.ttf) format('truetype'),
    url(../fonts/MiFie-Web-Font.woff) format('woff');
}

.clearFix::before,
.clearFix::after {
    content: "";
    display: block;
    visibility: hidden;
    height: 0;
    line-height: 0;
    clear: both;
}

.wjs_icon {
    font-family: wjs;
}

.wjs_icon_phone::before {
    content: "\e908";
}

.wjs_icon_tel::before {
    content: "\e909";
}

.wjs_icon_logo::before {
    content: "\e920";
}

.wjs_icon_name::before {
    content: "\e93e";
}

/*=========model css===============*/
.wjs_topBar {
    border-bottom: 1px solid #cccccc;
    font-size: 12px;
    color: #666666;
}

.wjs_topBar > .container {
}

.wjs_topBar > .container > .row {
}

.wjs_topBar > .container > .row > div {
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.wjs_topBar > .container > .row > div ~ div {
    border-left: 1px solid #cccccc;
}

.container .btn-register {
    border: none;
    background-color: #e92322;
    color: #fff;
    font-size: 12px;
    padding: 3px 10px;
}

.btn-register .btn-login {
    font-size: 12px;
    color: #666666;
}

.btn-register .btn-login:hover {
    text-decoration: none;
    color: #666666;
}

.wjs_app {
    display: block;
}

.wjs_app img {
    display: none;
}

.wjs_app:hover img {
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border: 1px solid #cccccc;
    border-top: none;
    top: 40px;
}

/*导航栏*/

.wjs_nav {
    background-color: #f8f8f8;
    border-color: #e7e7e7
}

.wjs_nav .navbar-brand {
    color: #777;
    height: 80px;
    display: block;

    text-align: center;
    line-height: 50px;
}
.wjs_nav .navbar-brand .logo{
    font-size: 50px;
}
.wjs_nav .navbar-brand .name{
    font-size: 36px;
}
.wjs_nav .navbar-brand:focus,
.wjs_nav .navbar-brand:hover {
    color: #5e5e5e;
    background-color: transparent
}

.wjs_nav .navbar-text {
    color: #777
}

.wjs_nav .navbar-nav > li > a {
    color: #777

}

.wjs_nav .navbar-nav > li > a:focus,
.wjs_nav .navbar-nav > li > a:hover {
    color: #333;
    background-color: transparent
}

.wjs_nav .navbar-nav > .active > a,
.wjs_nav .navbar-nav > .active > a:focus,
.wjs_nav .navbar-nav > .active > a:hover {
    color: #555;
    background-color: #e7e7e7
}

.wjs_nav .navbar-nav > .disabled > a,
.wjs_nav .navbar-nav > .disabled > a:focus,
.wjs_nav .navbar-nav > .disabled > a:hover {
    color: #ccc;
    background-color: transparent
}

.wjs_nav .navbar-toggle {
    border-color: #ddd
}

.wjs_nav .navbar-toggle:focus,
.wjs_nav .navbar-toggle:hover {
    background-color: #ddd
}

.wjs_nav .navbar-toggle .icon-bar {
    background-color: #888
}

.wjs_nav .navbar-collapse,
.wjs_nav .navbar-form {
    border-color: #e7e7e7
}

.wjs_nav .navbar-nav > .open > a,
.wjs_nav .navbar-nav > .open > a:focus,
.wjs_nav .navbar-nav > .open > a:hover {
    color: #555;
    background-color: #e7e7e7
}

@media (max-width: 767px) {
    .wjs_nav .navbar-nav .open .dropdown-menu > li > a {
        color: #777
    }

    .wjs_nav .navbar-nav .open .dropdown-menu > li > a:focus,
    .wjs_nav .navbar-nav .open .dropdown-menu > li > a:hover {
        color: #333;
        background-color: transparent
    }

    .wjs_nav .navbar-nav .open .dropdown-menu > .active > a,
    .wjs_nav .navbar-nav .open .dropdown-menu > .active > a:focus,
    .wjs_nav .navbar-nav .open .dropdown-menu > .active > a:hover {
        color: #555;
        background-color: #e7e7e7
    }

    .wjs_nav .navbar-nav .open .dropdown-menu > .disabled > a,
    .wjs_nav .navbar-nav .open .dropdown-menu > .disabled > a:focus,
    .wjs_nav .navbar-nav .open .dropdown-menu > .disabled > a:hover {
        color: #ccc;
        background-color: transparent
    }
}

.wjs_nav .navbar-link {
    color: #777
}

.wjs_nav .navbar-link:hover {
    color: #333
}

.wjs_nav .btn-link {
    color: #777
}

.wjs_nav .btn-link:focus,
.wjs_nav .btn-link:hover {
    color: #333
}

.wjs_nav .btn-link[disabled]:focus,
.wjs_nav .btn-link[disabled]:hover,
fieldset[disabled] .wjs_nav .btn-link:focus,
fieldset[disabled] .wjs_nav .btn-link:hover {
    color: #ccc
}
